.snipcart, .snipcart__font--secondary, .snipcart-item-quantity__label, .snipcart__font--tiny, .snipcart-base-button__label, .snipcart-button-link, .snipcart__font--std, .snipcart__font--subtitle {
	font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
.snipcart h1 {
	font-size: 1.3rem; 
	line-height: 2rem; 
	text-align: center;
	font-weight: bold;
}
.snipcart h2 {
	font-size: 1.2rem; /* 20px */
	line-height: 1.75rem; /* 28px */
	font-weight: bold;
	text-transform: uppercase;
}
.snipcart h3 {
	font-size: 1.05rem; /* 20px */
	line-height: 1.5rem; /* 28px */
	font-weight: bold;
	text-transform: uppercase;
}
.snipcart-modal__close-title {
	font-size: 1rem;
	font-weight: bold;
}
.snipcart-base-button__label {
	font-size: 1.05rem; /* 20px */
	font-weight: bold;
}
.snipcart-button-secondary {
	color: #000000;
	border-color: #683E28;
	background-color: #e6aba2;
}
.snipcart-button-secondary:hover {
	color: #000000;
	border-color: #683E28;
	background-color: #E4C4B0;
	box-shadow: none;
}
.snipcart-discount-box__button {
	 background-color: hsla(8,58%,77%,.2);
	 font-weight: 700;
	 padding: .75rem;
	 --tw-border-opacity: 1;
  	 border-color: rgb(230 171 162/var(--tw-border-opacity));
  	 border-width: 1px;
  	 border-radius: .25rem;
}
.snipcart-discount-box__button:after {
	content:'DISCOUNT CODE HERE';
}